<div class="about-container">
  <div class="inner-container">
    <h1>About Me</h1>
    <p>
      Hello! My name is Emmy and I enjoy creating magical things. I am a recent
      graduate (as of March 2023) in AI technology. I have experience working in
      the IT industry and am skilled in coding and designing. I have had the
      privilege of working on map alignments and survey app development. I am
      always passionate about creative coding and curious about learning new
      technologies! See my resume for additional details.
    </p>
    <button class="glass">Resume</button>
  </div>

  <div class="inner-container skill-container">
    <h1>Skills</h1>
    <div class="skill-inner-container">
      <ul>
        <li *ngFor="let skillData of skillData" class="glass">
          {{ skillData.skill }}
        </li>
      </ul>
    </div>
  </div>
</div>
