.home-container {
  background: url(../../../assets/bg/bg.jpg) center / cover no-repeat;
  height: 100vh;
}

.home-inner {
  text-align: center;
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
}
